.part1{
	background-color: #f8f9fa;
	color: white;

}

.image2{
	width: 90%;
}
.part2{
	width: 90%;
	background-repeat: none;
	height: 400px;
	background-image:url(bg-masthead.jpg);
}
.info{
	margin-top: 40px;
}
.part02
{
background-image: url(bg-masthead.jpg);
	height: 300px;
}
.bouton1
{
	float: right;
}
.para01
{   padding-top:150px;
	font-weight: bold;
	
	color: white;
	font-size:x-large;
}
.para1
{
	padding-top:100px;
	color: white;
	font-size:x-large;
	font-weight: bold;
}
.form{
	margin: auto;
	/*margin-top: 20px;*/
}

.image{
	 width:100%;
	 height:auto;

}

.marges{
	
	margin-left: 20%;
}



.marges1{
	
	margin-left:15%;
	margin-top: 5px;
}
.titreimgcir{
	padding-top:30px;
	margin-bottom: 40px;
}
.text{
	margin-top:10px;
	

}
.imagetop{
	margin-top: 20px;
}
.titreimg{
	padding-top: 20px;
	padding-bottom: 20px;
}
.imagearrondi{
text-align: center;
}
.col-sm-6.droite {
    padding-left: 0;
    padding-right: 0;
}
.col-sm-6.gauche {
padding-right: 0;
 padding-left: 0;
}
.textes{
	background-color:#f8f9fa;
	padding-top: 40px;
	padding-bottom: 50px;
	text-align: center;
	
}
.fondimgcir{
	background-color:#f8f9fa;
}


	

